<li ng-repeat="elem in listItem" ng-init="arrayShow = [];">
  <div class="todo-description col-xs-10">
    <input type="checkbox" id="conteudo-{{$index}}" class="regular-checkbox" ng-model="elem.isChecked" />
    <label for="conteudo-{{$index}}"></label>

    <span ng-class="{'check': elem.isChecked}" class="text"> {{elem.description}}</span>

  </div>
<div class="todo-actions col-xs-2">
  <a href="" ng-init="arrayShow[$index] = false" ng-click="arrayShow[$index] = true"><img src="img/del.svg" alt="" /></a>
  <a href=""><img src="img/edit.svg" alt="" /></a>
</div>
<confirm-dialog
  message="'Deseja realmente excluir essa tarefa?'"
  label-ok="'Excluir'"
  label-cancel="'Cancelar'"
  on-success="removeItem(elem, index)"
  on-cancel="cancelItem(elem, index)"
  index="$index"
  model="elem"
  show="arrayShow[$index]"></confirm-dialog>
</li>
